* {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
    margin: 0px;
    padding: 0px;
    /* border: 1px solid red; */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: auto;
    height: auto;
}

a {
    color: white;
    text-decoration: none;
}

.hero-container,
.header,
.info-container,
.review-container,
.buy-now-container,
.footer {
    flex: 0 0 auto;
}

.hero-container {
    display: flex;
    flex-direction: column;
}

.header {
    padding: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    text-decoration: underline;
}

.links {
    margin-left: auto;
    display: flex;
    gap: 18px;
}

.link {
    padding: 8px;
    border: 1px solid white;
    border-radius: 10px;
}

.hero-card-container {
    flex: 1 1 auto;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-card {
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 18px;
    flex-wrap: wrap;
}

.hero-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}

.hero-title {
    flex-wrap: wrap;
}

.hero-text {
    flex: 0 1 auto
    width: 600px;
    flex-wrap: wrap;
}

.button {
    flex: none;
    padding: 18px;
    background-color: rgb(114, 175, 34);
    border-style: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.hero-image {

}

.info-container {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.info-header {

}

.info-image-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.image-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 300px;
    height: 300px;
    flex: none;
    border: 1px solid rgb(39, 43, 33);
    border-radius: 10px;
}

.image-text {

}

.review-container {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-card {
    flex: 0 1 auto;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.274);
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.review {
    align-self: flex-start;
}

.review-signature {
    align-self: flex-end;
}

.buy-now-container {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buy-now-card {
    width: 400px;
    height: 40px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buy-now-info {

}

.buy-now-header {

}

.buy-now-text {

}

#special-button {
    justify-self: flex-end;
    border: 1px solid white;
}

.footer {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copyright {

}

.font-large-bold{
    font-size: 48px;
    font-weight: 1000;
    color: white;
}

.font-header-white {
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.font-header-dark {
    font-size: 24px;
    font-weight: 600;
    color: rgb(39, 43, 33);
}

.font-logo {
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.font-text-white {
    font-size: 18px;
    color: white;
}

.font-text-dark {
    font-size: 18px;
    color: rgb(39, 43, 33);
}

.font-text-large-italic-dark {
    font-size: 24px;
    font-style: italic;
    color: rgb(39, 43, 33);
}

.font-text-large-italic-bold-dark {
    font-size: 24px;
    font-style: italic;
    font-weight: 600;
    color: rgb(39, 43, 33);
}

.background-main {
    background-color: darkolivegreen;
}

.background-secondary {
    background-color: burlywood;
}

.background-tertiary {
    background-color: rgb(114, 121, 128);
}

.highlight {
    background-color: rgb(114, 175, 34);
}